@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
body {
  font-family: 'Noto Sans JP', sans-serif;
}

:root {
  --main-text: #000;
  --main-bg: #fff;
}
@media (prefers-color-scheme: dark) {
  :root {
    --main-text: #fff;
    --main-bg: #202124;
  }
}
body{
  color: var(--main-text);
  background: var(--main-bg);
  transition: .3s;
}
.light-mode{
  --main-text: #000;
  --main-bg: #fff;
}
.dark-mode{
  --main-text: #fff;
  --main-bg: #202124;
}



.pagetop {
  cursor: pointer;
  position: fixed;
  right: 30px;
  bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: .3s;
  color: #00A6C4;
  background: #fff;

  opacity: 0;
}
.pagetop:hover {
  box-shadow: 0 0 10px #00A6C4;
}